bot:
    token: BOT_TOKEN
    parse_mode: html

# Sentry SDK for logging errors
sentry_sdk:
    url:

# Whether to skip previous updates or not
executor:
    skip_updates: true

# Visible commands and their description.
commands:
    start: Запустить бота
    random: Получить рандомную ссылку
    statistics: Персональная статистика
    botstatistics: Статистика бота